*.o
*.a
*.hex
*.elf

*.bak
*.kicad_pcb-bak
*.dwl
*.dwl2
fp-info-cache

#My mac keeps putting these files everywhere
.DS_Store

#now that we have LaTeX files, ignore all intermediates
*.aux
*.log

#test executables shouldn't be tracked
/arduino_programs/tests/shared_type_tests
/arduino_programs/tests/nodeio_ioio_tests


# MPLAB Project Folders
build
debug
dist
# nbproject
src/relay_pic/nbproject/Makefile-*
src/relay_pic/nbproject/private
