*.o
*.a
*.d
*.hex
*.elf

src/clientside/clientside
src/towerside/towerside

*.dwl
*.dwl2
fp-info-cache

schematics/power_board_schematics/*.bak
schematics/power_board_schematics/*.kicad_pcb-bak
schematics/power_board_schematics/*.dwl
schematics/power_board_schematics/*.dwl2
schematics/power_board_schematics/*.sch-bak


#My mac keeps putting these files everywhere
.DS_Store

#now that we have LaTeX files, ignore all intermediates
*.aux
*.log

#test executables shouldn't be tracked
/arduino_programs/tests/shared_type_tests
/arduino_programs/tests/nodeio_ioio_tests

# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-backups/

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# MPLAB Project Folders
build
debug
dist
# nbproject
**/nbproject/Makefile-*
**/nbproject/private
